<hr>
<% if @current_user.nil? %>
	<p>
		In order to leave a commeent you must <%= link_to "sign up", new_user_url %> or if you have an
		account please <%= link_to "sign in", new_session_url %>.
	</p>
<% else %>
	<p>Leaving comment as <%= @current_user.name %>. <%= link_to "Not #{@current_user.name}", sign_out_url %>?</p>
		<%= form_for @comment, :validate => true do |f| %>
			<%= f.label "Comment" %>
			<%= f.text_area :content, rows: 12, cols: 80, class: 'comment_text_area' %><p></p>
			<%= f.submit class: 'btn btn-primary' %>
	<% end %>
<% end %>